<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.ProductMapper">

    <!-- 分页查询 -->
    <select id="pageQuery" resultType="com.sky.entity.Product"
            parameterType="com.sky.dto.ProductPageQueryDTO">
        SELECT
        product_id,
        product_name,
        product_price,
        product_stock,
        product_limit,
        product_image_url
        FROM school.products
        <where>
            <if test="productName != null and productName != ''">
                AND product_name LIKE CONCAT('%', #{productName}, '%')
            </if>
        </where>

    </select>

    <!-- 根据商品ID查询 -->
    <select id="getProductById" resultType="com.sky.entity.Product"
            parameterType="java.lang.Integer">
        SELECT * FROM school.products
        WHERE product_id = #{productId}
    </select>

    <!-- 扣减库存（乐观锁示例：通过库存版本号或直接更新库存） -->
    <update id="decreaseProductStock">
        UPDATE school.products
        SET product_stock = product_stock - #{quantity}
        WHERE product_id = #{productId}
        AND product_stock &gt;= #{quantity} <!-- 防止超卖 -->
    </update>
    <!-- 增加库存 -->
    <update id="increaseProductStock">
        UPDATE school.products
        SET product_stock = product_stock + #{quantity}
        WHERE product_id = #{productId}
    </update>

    <!-- 插入普通商品（使用自增主键回填） -->
    <insert id="insert" parameterType="com.sky.entity.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO school.products
        (product_name, product_price, product_stock, product_limit, product_image_url)
        VALUES
        (#{productName},
        #{productPrice},
        #{productStock},
        #{productLimit},
        #{productImageUrl}
        )
    </insert>

</mapper>