<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.AppointmentMapper">

    <insert id="insert"
            parameterType="com.sky.entity.Appointment"
            useGeneratedKeys="true"
            keyProperty="appointmentId"
            keyColumn="appointment_id">
        INSERT INTO school.appointment
            (user_id, visit_date, visit_reason, status,create_time,update_time)
        VALUES
            (#{userId}, #{visitDate}, #{visitReason}, #{status},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.sky.entity.Appointment">
        UPDATE school.appointment
        SET
            visit_date = #{visitDate},
            visit_reason = #{visitReason},
            status = #{status},
            update_time = #{updateTime}
        WHERE appointment_id = #{appointmentId}
    </update>

    <select id="getById"
            parameterType="java.lang.Integer"
            resultType="com.sky.entity.Appointment">
        SELECT
            appointment_id,
            user_id,
            visit_date,
            visit_reason,
            status,
            create_time
        FROM school.appointment
        WHERE appointment_id = #{appointmentId}
    </select>

    <select id="getAppoint" parameterType="com.sky.dto.AppointmentDTO" resultType="com.sky.vo.AppointVO">
        SELECT
        a.*,
        u.username,
        u.phone_number AS phoneNumber
        FROM school.appointment a
        JOIN users u ON a.user_id = u.user_id
        WHERE a.user_id = #{userId}
        <if test="status != null">
            AND a.status = #{status}
        </if>
        <if test="visitDate != null">
            AND a.visit_date = #{visitDate}
        </if>
        <if test="visitReason != null and visitReason != ''">
            AND a.visit_reason LIKE CONCAT('%', #{visitReason}, '%')
        </if>
        ORDER BY a.create_time DESC
    </select>

</mapper>