<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.AppointmentLogMapper">

    <insert id="insert" parameterType="com.sky.entity.AppointmentLog">
        INSERT INTO school.appointment_log
        (appointment_id, approver_id, approve_status, approve_time, update_time)
        VALUES
            (#{appointmentId}, #{approverId}, #{approveStatus}, #{approveTime}, #{updateTime})
    </insert>

</mapper>